<p id="notice"><%= notice %></p>

<p>
  <strong>Products hash:</strong>
  <%= @order.products_hash %>
</p>

<p>
  <strong>Comment for operator:</strong>
  <%= @order.comment_for_operator %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
